body
{
background-image: linear-gradient(to bottom, rgba(255, 255, 255,9), rgba(230, 247, 255,9)), url("https://i.postimg.cc/Dy2MrhcH/imageedit-2-3996552053.jpg");
background-image: -moz-linear-gradient(top, rgba(230, 247, 255,9), rgba(230, 247, 255,9)), url("https://i.postimg.cc/Dy2MrhcH/imageedit-2-3996552053.jpg");
background-image: -o-linear-gradient(top, rgba(230, 247, 255,9), rgba(230, 247, 255,9)), url("https://i.postimg.cc/Dy2MrhcH/imageedit-2-3996552053.jpg");
background-image: -ms-linear-gradient(top, rgba(230, 247, 255,9), rgba(230, 247, 255,9)), url("https://i.postimg.cc/Dy2MrhcH/imageedit-2-3996552053.jpg");
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,9)),to(rgba(230, 247, 255,9))), url("https://i.postimg.cc/Dy2MrhcH/imageedit-2-3996552053.jpg");
background-image: -webkit-linear-gradient(top, rgba(230, 247, 255,9), rgba(230, 247, 255,0)), url("https://i.postimg.cc/Dy2MrhcH/imageedit-2-3996552053.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}